:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.1rem;
}

.border {
  border: 1px solid #e2e8f0;
}

.container1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.content-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.draggable-option {
  width: 150px;
  height: 60px;
  background-color: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.card {
  width: 350px;
  height: 55vh;
  min-height: 340px;
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: none;
}

.card-image {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}

.verification-icon {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 10;
  width: 64px;
  height: 64px;
}

.drop-area {
  width: 100%;
  height: 60px;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: bold;
}

.drop-area-default {
  background-color: #f3f4f6;
  border: 2px dashed #e2e8f0;
}

.drop-area-hover {
  background-color: #e6e6e6;
}

.drop-area-filled {
  background-color: #0f172a;
  border: 2px dashed #0f172a;
  color: white;
}

.drop-area-correct {
  background-color: #90ee90;
  border: 2px dashed #90ee90;
  color: #0f172a;
}

.drop-area-incorrect {
  background-color: #ffb6c1;
  border: 2px dashed #ffb6c1;
  color: #0f172a;
}

.card-correct {
  background-color: #4caf50;
}

.card-incorrect {
  background-color: #f44336;
}

.validation-message {
  background-color: white;
  color: #818181;
  font-weight: bold;
  padding: 10px;
  white-space: pre-line;
}

.verification-icon {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 64px;
  height: 64px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.paragraph {
  color: #8b8b8a;
}

.paragraph.succes {
  color: white;
}

.feedback1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.content-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 15px;
}
