/* Contenedor principal */
.activity-container-ppt9-USADAD {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Fila de imágenes */
.image-row-ppt9-USADAD {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.image-container-ppt9-USADAD {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* Fila de drop areas */
.drop-row-ppt9-USADAD {
  display: flex;
  justify-content: center;
  gap: 10.2rem;
}

/* Fila de botones */
.button-row-ppt9-USADAD {
  display: flex;
  justify-content: center;
  gap: 10.2rem;
}

/* Estilos para los elementos draggable y droppable */
.draggable-ppt9-USADAD {
  width: 200px;
  height: 200px;
  cursor: grab;
  border: 2px solid #6e3cd2;
  padding: 0;
  box-sizing: border-box;
  object-fit: contain;
  display: block;
}

.dropbox-ppt9-USADAD {
  width: 150px;
  height: 50px;
  background-color: #9c99a1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #aaa;
  color: white; /* Texto en blanco */
}

.option-ppt9-USADAD {
  padding: 8px 16px;
  border: none;
  color: white; /* Texto en blanco */
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  text-align: center; /* Centrar texto horizontalmente */
  display: flex; /* Usar flexbox para centrar verticalmente */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

/* Estilos para los mensajes de error y éxito */
.error-message-ppt9-USADAD {
  color: #f44336; /* Rojo para el texto de error */
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.error-label {
  color: #f44336; /* Rojo para "Respuesta incorrecta:" */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.error-text {
  color: #888; /* Gris para el resto del mensaje de error */
  font-family: "Montserrat", sans-serif;
}

.success-message-ppt9-USADAD {
  color: #4caf50; /* Verde para el texto de éxito */
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.success-label {
  color: #4caf50; /* Verde para "Respuesta correcta:" */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.success-text {
  color: #888; /* Gris para el resto del mensaje de éxito */
  font-family: "Montserrat", sans-serif;
}

/* Resultados */
.results-container-USADAD {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-monserrat-USADAD {
  font-family: "Montserrat", sans-serif;
}

/* Botón de reinicio */
.flex-container-USADAD {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.8rem;
}

/* Estilos adicionales para correcto e incorrecto */
.correct-USADAD .dropbox-ppt9-USADAD {
  background-color: #4caf50; /* Verde claro */
}

.incorrect-USADAD .dropbox-ppt9-USADAD {
  background-color: #f44336; /* Rojo */
}

/* Estilos para el contenedor de audio */
.audio-container-ppt9-USADAD {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.audio-player-ppt9-USADAD {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para los íconos de estado */
.status-icon-ppt9-USADAD,
.status-icon-ppt91-USADAD,
.status-icon-ppt92-USADAD {
  position: absolute;
  top: 10%;
  width: 60px;
  height: 60px;
}

/* Estilos para el texto de arrastre */
.drop-text-USADAD {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: white; /* Texto en blanco */
  text-align: center;
}

.dropbox-over-USADAD {
  background-color: #cbbee5;
  border-color: #cbbee5;
}

/* Colores de fondo para los botones y drops */
.bg-estructural {
  background-color: #0f172a; /* Color para ANDAMIO ESTRUCTURAL */
}

.bg-colgante {
  background-color: #0f172a; /* Color para ANDAMIO COLGANTE */
}

.bg-prefabricado {
  background-color: #0f172a; /* Color para ANDAMIO PREFABRICADO */
}

/* Estilos para el botón de reinicio */
.reset-button {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.reset-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

