/* Contenedor principal */
.ordenar-pasos-containerOPM {
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Título */
  .titulo {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Contenedor de pasos */
  .contenedor-pasos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Tarjeta de paso */
  .tarjeta-paso {
    background: #ffffff;
    color: #212529;
    padding: 12px;
    border-radius: 5px;
    cursor: grab;
    transition: background 0.3s ease;
    border: 1px solid #ddd;
  }
  
  /* .tarjeta-paso:hover {
    background: #8f8f8f;
  }
   */
  /* Estado correcto e incorrecto */
  .tarjeta-paso.correcto {
    background: #4caf50;
    color: white;
    border-color: #4caf50;
  }
  
  .tarjeta-paso.incorrecto {
    background: #f44336;
    color: white;
    border-color: #f44336;
  }
  
  /* Contenedor de botones */
  .botones-containerOPM {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  /* Botón de validar */
  .btn-validar,
  .btn-reiniciar {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    color: white;
  }
  
  .btn-validar {
    background: #7c3aed;
  }
  
  .btn-validar:hover {
    background: #6d28d9;
  }
  
  .btn-reiniciar {
    background: #f44336;
  }
  
  .btn-reiniciar:hover {
    background: #d32f2f;
  }
  
  /* Resultado */
  .resultado {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .resultado.correcto {
    color: #4caf50;
  }
  
  .resultado.incorrecto {
    color: #f44336;
  }
  
  .feedback-containerOPM {
    background-color: #ffffff;
    max-width: 800px;
    border-radius: 8px;
    padding: 14px;
    margin-top: 16px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
  }
  
  .feedback-message {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .contador-texto {
    color: #8f8f8f; /* Cambié el color aquí */
  }

  .boton-validar.inactivo {
    background-color: #d3d3d3; /* Color más claro */
    cursor: not-allowed;
  }
  
  .boton-validar.activo {
    background-color: #4caf50; /* Color original */
    cursor: pointer;
  }
  
  
  